<div class="container">
    <div class="content" style="background-color:#FFFF00;">
    </div>
    <p class="text">Arkansas</p>

    <div class="content" style="background-color:#45e752;">
    </div>
    <p class="text">Georgia</p>

    <div class="content" style="background-color:#fdb04a;">
    </div>
    <p class="text">Minnesota</p>
</div>


<dx-data-grid id="gridContainer" noDataText="No hay datos" [columnAutoWidth]="true" [dataSource]="datasource"
    [showBorders]="true" keyExpr="id" (onCellPrepared)="addColor($event)">
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxi-column dataField="id" caption="ID"></dxi-column>
    <dxi-column dataField="companyName"></dxi-column>
    <dxi-column dataField="address"></dxi-column>
    <dxi-column dataField="city"></dxi-column>
    <dxi-column dataField="state"></dxi-column>
    <dxi-column dataField="zipcode"></dxi-column>
    <dxi-column dataField="phone"></dxi-column>
    <dxi-column dataField="fax"></dxi-column>
</dx-data-grid>